
<%= form_with model: @book, local:true  do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %><br>
  </p>
  <p>
    <%= form.label :author %><br>
    <%= form.text_field :author %><br>
  </p>
  <p>
    <%= form.label :isbn %><br>
    <%= form.text_field :isbn %><br>
  </p>
  <% if @book.errors.any? %>
    <h2>
      Unable to save!
    </h2>
    <ul>
      <% for error_message in @book.errors.full_messages %>
        <li> <%= error_message %> </li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= form.submit %>
<% end %>
