
<p>
  <% if not @current_user.nil? %>
    Hello <%= @current_user.email %><br>
    <%= link_to 'logout', "/users/sign_out", method: :delete %>
  <% else %>
    <%= link_to 'sign in', "/users/sign_in" %>
  <% end %>
</p>

<p>
  <h1>List of all books</h1>
  <% for book in @books %>
    <li>
      <%= link_to "#{book.title}, by #{book.author}",book %>
    </li>
  <% end %>

  <p>
  <%= link_to 'Add new book', new_book_path %>
  </p>
</p>

<br>
<p>
  Search for books:
</p>
<%= form_with(scope: :search, local: true, method: :get) do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

