<h1> 
  <%= @book.title %>
</h1>
<p>
  By <%= @book.author %>
</p>
<p>ISBN: <%= @book.isbn %></p>

<%= link_to 'edit', edit_book_url(@book) %>
<%= link_to 'delete', book_path(@book),method: :delete %>

<ul>
  <% for copy in @book.copies %>
    <li>  <%= render copy %> </li>
  <% end %>
</ul>
<%= render 'books/add_copy_form' %>


    
